{% load static %}
<!-- ::::::::::::::Favicon icon::::::::::::::-->
<link rel="shortcut icon" href="../../static/market/images/favicon.ico" type="image/png">

<!-- ::::::::::::::All CSS Files here :::::::::::::: -->
<!-- Vendor CSS -->
<link rel="stylesheet" href="../../static/market/css/vendor/font-awesome.min.css">
<link rel="stylesheet" href="../../static/market/css/vendor/plaza-icon.css">
<link rel="stylesheet" href="../../static/market/css/vendor/jquery-ui.min.css">

<!-- Plugin CSS -->
<link rel="stylesheet" href="../../static/market/css/plugins/slick.css">
<link rel="stylesheet" href="../../static/market/css/plugins/animate.min.css">
<link rel="stylesheet" href="../../static/market/css/plugins/nice-select.css">
<link rel="stylesheet" href="../../static/market/css/plugins/venobox.min.css">

<!-- Main CSS -->
<link rel="stylesheet" href="../../static/market/css/style.css">

<!-- Use the minified version files listed below for better performance and remove the files listed above -->
<!-- <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
<link rel="stylesheet" href="assets/css/plugins/plugins.min.css">
<link rel="stylesheet" href="assets/css/style.min.css"> -->